.filterButton {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.categoryFilterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.hiddenFilterContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.left {
  width: 290px;
  height: 1500px;
  outline: 1px solid red;
  margin-right: 10px;
  padding: 0 10px;
}

.right {
  width: calc(100% - 300px);
  outline: 1px solid blue;
}

.hiddenFilterContainer {
  display: flex;
  flex-direction: column;
}
.smallContainer {
  margin-top: 1rem;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.leftSmall {
  width: 44vw;
  outline: 1px solid blue;
}
.rightSmall {
  width: 44vw;
  outline: 1px solid green;
}

@media screen and (max-width: 1900px) {
}

.navs2 {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  list-style-type: none;
  margin: 0;
  margin-top: -20px;
}
.li {
  display: inline;
  padding-right: 40px;
  font-size: 20px;
}
.li:last-child {
  padding-right: 0px;
}

@media screen and (max-width: 750px) {
  .li {
    display: inline;
    padding-right: 32px;
    font-size: 20px;
  }
}
