.container {
  display: flex;
  width: 100%;
  font-family: 'Inter', sans-serif;
  /* outline: 1px solid red; */
}

.informationContainer {
  width: 100%;
  /* outline: 1px solid blue; */
}
.leftContainer {
  width: 50%;
  /* outline: 1px solid blue; */
}

.rightContainer {
  width: 40%;
  /* outline: 1px solid green; */
}

.links {
  width: 100%;
  height: 40px;
  /* outline: 1px solid orange; */
  margin-bottom: 5px;
}

.customLink {
  text-decoration: underline;
}

/* container surrounding image */
.imageContainer {
  width: 552px;
  height: 555px;
  /* outline: 1px solid black; */

  display: flex;
  justify-content: center;
  align-items: center;
}

/* size of the image */
.productImage {
  width: 500px;
  height: 350px;
}

/* styling for the small images */
.imageSlider {
  width: 10%;
  /* outline: 1px solid green; */
}

.allImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smallImage {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 75px;
  height: 75px;
  cursor: pointer;
  margin-top: 8px;
}

.store {
  font-size: 14px;
}

.name {
  margin-top: 15px;
  font-size: 20px;
}

.price {
  margin-top: 20px;
  font-size: 18px;
}

.button {
  margin: 25px 0;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

#filter-button-15:hover {
  background-color: rgb(47, 47, 47);
}

.color {
  margin-top: 70px;
}

.span {
  font-weight: 600;
}

/* styling for the quantity selector */
.quantityContainer {
  display: flex; /* This will display the header and selector as a row */
  align-items: center; /* This will center the elements vertically */
  margin-top: 10px;
}

.quantityHeader {
  margin-right: 10px; /* Add some space between the header and selector */
}

.quantitySelector {
  display: flex; /* This will display the spans as a row */
  align-items: center; /* This will center the spans vertically */
  outline: 1px solid black;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.quantitySelector span {
  width: 20px; /* Set the width of the spans */
  text-align: center; /* Center the text horizontally */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the span */
}

.quantitySelector span:not(:last-child) {
  border-right: 1px solid #ccc; /* Add a border between the minus and plus spans */
}

.size {
  margin-top: 15px;
}

.selection {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.customLink {
  text-decoration: underline;
}
